body{ /**éléments de bases (couleur, typographie, etc)**/
    background-color: #000;
    color: #fff;
    font-family: monospace;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#terrain{ /**caractéristique du terrain : position, bordure (ligne "imaginaire" qui ne fait pas encore rebondir la balle) et dimensions **/
    position: relative;
    border:1px solid white;
    width:800px;
    height:400px
}

#balle{ /**caractéristique de la balle : position, dimensions, couleur, etc**/
    position: absolute;
    top:50%;
    left:50%;
    right:50%;
    bottom:50%;
    width: 20px;
    height: 20px;
    background-color:#fff;
    border-radius: 10px;
}

#raquette1{
    position: absolute;
    top:50%;
    right:95%;
    width: 10px;
    height: 100px;
    background-color:#fff;
}

#raquette2{
    position: absolute;
    top:50%;
    left:95%;
    width: 10px;
    height: 100px;
    background-color:#fff;
}
